# Кэш и временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Среда разработки (Visual Studio Code)
.vscode/

# Файлы операционной системы
.DS_Store        # (на MacOS)
Thumbs.db        # (на Windows)

# ---
# ВАЖНО: Игнорируем файл с историей паролей
# Он содержит чувствительные данные, которые нельзя публиковать.
history.json

# ---
# Если вы используете виртуальное окружение (venv), его тоже лучше игнорировать
env/
venv/
ENV/

# Файлы сборки и дистрибутивов (если они появятся)
*.egg-info/
dist/
build/
